@using FindeyVouchers.Domain.EfModels
@model MerchantVoucherViewModel

<h4>Vouchers</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Voucher.Id"/>
            <div class="form-group">
                <label asp-for="Voucher.Name" class="control-label"></label>
                <input asp-for="Voucher.Name" class="form-control" required/>
                <span asp-validation-for="Voucher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Description" class="control-label"></label>
                <input asp-for="Voucher.Description" class="form-control" required/>
                <span asp-validation-for="Voucher.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Image" class="control-label"></label>
                <input asp-for="Voucher.Image" class="form-control" hidden/>
                <input asp-for="Voucher.ImageFile" class="form-control-file" type="file">
                <span asp-validation-for="Voucher.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.DefaultImages" class="control-label"></label>
                <select asp-for="Voucher.DefaultImages" class="form-control" asp-items="Html.GetEnumSelectList<DefaultImages>()" onchange="showImage(this)"></select>
                <span asp-validation-for="Voucher.DefaultImages" class="text-danger"></span>
            </div>
            <div class="form-group" id="imageDiv" hidden>
                <img class="shadow" id="displayImage" src="https://findeystorage.blob.core.windows.net/voucher-images/default-images/Black.png" width="300" height="150">
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new {required = "required", @class = "form-control"})
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Price" class="control-label"></label>
                <input asp-for="Voucher.Price" class="form-control"/>
                <span asp-validation-for="Voucher.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.VoucherType" class="control-label"></label>
                <select asp-for="Voucher.VoucherType" class="form-control" asp-items="Html.GetEnumSelectList<VoucherType>()" disabled></select>
                <span asp-validation-for="Voucher.VoucherType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Verzend" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>
<script>            

function showImage(dropdown){
let imageList = [
    "Black.png",
    "Blue.png",
    "Bronze.png",
    "Gold.png",
    "Green.png",
    "Pink.png",
    "Silver.png",
    "White.png",
    "Yellow.png"
];
    if(dropdown.value > 0 ){
        document.getElementById("imageDiv").removeAttribute("hidden");
        document.getElementById("displayImage").src = "https://findeystorage.blob.core.windows.net/voucher-images/default-images/"+imageList[dropdown.value-1];
    }else{
        document.getElementById("imageDiv").setAttribute("hidden", true);
    }

}
</script>