* {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 16px;
  font-variant: normal;
}
.clear {
  clear: both;
}
.min-width {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.underlineI,
.underlineC {
  width: 100%;
  height: 0px;
  border: solid #041151 1px;
  display: none;
  position: absolute;
  left: 0;
}
html,
body,
main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.custom-control-label::after {
  background-color: #041151;
  border-radius: 50px;
}
.custom-control-label {
  background-color: white;
  border-radius: 50px;
}
.header {
  height: 75px;
  background-color: whitesmoke;
  width: 100%;
}
.header h2 {
  text-align: left;
  line-height: 200%;
  width: 60%;
  float: left;
  padding-left: 4%;
}
.header h4 {
  width: 40%;
  float: left;
  line-height: 250%;
  text-align: center;
  color: grey;
}
.titel {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 16px;
}
.titel span {
  width: 175px;
  background-color: whitesmoke;
  padding: 15px 15px;
  border-radius: 25px;
  display: block;
  margin: auto;
}
.container-fluid {
  margin-top: 5em;
}
.container-fluid .margin {
  margin-left: 84px;
}
.container-fluid .block {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  /* margin-top: 24px;
  margin-left: 6px; */
  width: 90%;
}
.container-fluid .info {
  width: 100%;
  height: 175px;
  display: block;
  background-color: whitesmoke;
  border: solid lightgray thin;
}
.container-fluid .info {
  width: 80%;
}
.container-fluid .infoForm input {
  width: 40%;
  margin: 1em;
  margin-top: 2.5em;
  float: left;
}
.container-fluid .clear {
  clear: both;
}
.container-fluid .products {
  width: 85%;
  float: left;
  border: solid lightgray thin;
  height: 475px;
  margin-left: 5em;
}
.container-fluid .infoForm input::placeholder {
  color: lightgray;
}
.container-fluid .products .imgProduct {
  float: left;
  width: calc(35%);
  float: left;
  margin: 16px;
  background-color: #fa755a;
  height: 120px;
}
.container-fluid .products .infoProduct {
  height: 120px;
  width: 100%;
  margin-top: 16px;
  margin-left: 21px;
  margin-right: 0px;
}
.container-fluid .products .infoProduct h4 {
  margin-left: 12px;
}
.container-fluid .products .infoProduct .prices p {
  color: grey;
}
.container-fluid .products .infoProduct .prices .x {
  color: black;
  font-weight: bold;
  float: left;
  margin-left: 9px;
  margin-top: 19px;
}
.container-fluid .products .infoProduct .prices span {
  font-size: 12px;
  float: left;
  margin-top: 22px;
  margin-left: 8px;
  margin-right: 12px;
}
.container-fluid .products .prices {
  height: 50px;
  margin-top: 16px;
}
.container-fluid .products .price {
  float: right;
  text-align: right;
  margin-top: 19px;
  margin-right: 3em;
}
.container-fluid .products .total {
  width: 80%;
  border-top: solid 1px grey;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding-top: 15px;
}
.container-fluid .products .total h5 {
  padding-left: 3em;
  font-weight: bold;
}
.container-fluid .products .total .price {
  width: 80%;
  position: absolute;
  bottom: 0;
  float: left;
  margin-left: 1.5em;
  font-weight: bold;
}

.container-fluid .method {
  width: 100%;
  height: 35px;
  background-color: white;
}
.container-fluid .method .custom-control {
  width: 50%;
  height: 35px;
  float: left;
}

.container-fluid .method .custom-control .center {
  margin: 0.5em;
  height: auto;
  margin-left: 0.75em;
  margin-bottom: 0em;
}

.container-fluid .group {
  background: white;
  /* box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08); */
  border-radius: 4px;
  width: calc(48% - 1em);
  margin: 1em;
  float: left;
}
#idl {
  width: 90%;
  /* display: none; */
  margin: auto;
}
#cc {
  display: none;
  width: 90%;
  margin: auto;
}
#idl label,
#cc label {
  position: relative;
  color: #8898aa;
  font-weight: 300;
  display: block;
}

#idl .group label:not(:last-child),
#cc .group label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

#idl label > span,
#cc label > span {
  width: 10%;
  text-align: left;
  float: left;
}

#idl #ideal-bank-element,
#cc #card-element {
  width: 100%;
  display: block;
  margin: auto;
}
#idl .field,
#cc .field {
  width: 100%;
}

#idl .field::-webkit-input-placeholder,
#cc .field::-webkit-input-placeholder {
  color: #cfd7e0;
}
#idl .field::-moz-placeholder,
#cc .field::-moz-placeholder {
  color: #cfd7e0;
}
#idl .field:-ms-input-placeholder,
#cc .field:-ms-input-placeholder {
  color: #cfd7e0;
}

#idl button,
#cc button {
  float: left;
  display: block;
  background: #666ee8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
  margin-right: 6px;
}

#idl button:focus,
#cc button:focus {
  background: #555abf;
}

#idl button:active,
#cc button:active {
  background: #43458b;
}

#idl .outcome,
#cc .outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

#idl .success,
.error,
#cc .success,
.error {
  display: none;
  font-size: 13px;
}

#idl .success.visible,
#idl .error.visible,
#cc .success.visible,
#cc .error.visible {
  display: inline;
  float: left;
  margin-top: 9px;
}

#idl .error,
#cc .error {
  color: #e4584c;
}

#idl .success,
#cc .success {
  color: #666ee8;
}

#idl .success .token,
#cc .success .token {
  font-weight: 500;
  font-size: 13px;
}

#idl input,
#idl .StripeElement,
#cc input,
#cc .StripeElement {
  height: 40px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

/* #idl input {
  padding: 10px 12px;
} */

#idl input:focus,
.StripeElement--focus,
#cc input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

#idl .StripeElement--invalid,
#cc .StripeElement--invalid {
  border-color: #fa755a;
}

#idl .StripeElement--webkit-autofill,
#cc .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.footer {
  margin-top: 32px;
}
.footer .form-check {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 16px;
}
.footer .form-check label {
  color: grey;
  margin-left: 1em;
}
.footer button {
  background-color: #041151;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  display: block;
  margin: auto;
  color: white;
  margin-bottom: 1em;
}
.footer input {
  width: 20px;
  height: 20px;
  margin-top: -0.5px;
}
.footer p {
  text-align: center;
  color: grey;
  margin-top: 2em;
  margin-bottom: 2em;
}
@media screen and (max-width: 575px) {
  .container-fluid {
    margin-top: 0em;
  }
  .header h2 {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .header h4 {
    display: none;
  }
  .container-fluid .products {
    width: 100%;
    margin: 0px;
  }
  .container-fluid .block {
    margin-top: 64px;
  }
  .container-fluid h4,
  .container-fluid .margin {
    text-align: left;
    margin: 0px;
  }
  .container-fluid .infoForm input {
    width: 37%;
    float: left;
    margin: 1em;
  }
  .container-fluid .info {
    width: 100%;
    height: 150px;
  }
  .container-fluid .paymentMethod {
    height: 175px;
  }
  .container-fluid .products .imgProduct,
  .container-fluid .products .infoProduct {
    height: 150px !important;
  }
  .input-group {
    margin-top: 0px !important;
  }
  .x {
    display: none;
  }
  .container-fluid .products .infoProduct span {
    display: none;
  }
  .container-fluid .products .infoProduct b {
    float: left;
  }
}

/*Spinner styling*/
.input-group {
  width: 7em;
  border-radius: 20px;
  height: 2em;
  border: none;
  outline: none;
  float: left;
  margin-top: 13px;
}
.btn-decrement,
.btn-increment {
  background-color: white;
  border: 1px solid #cacaca;
  border-radius: 20px;
  height: 2.36em;
}
.btn-decrement {
  border-right: none;
}
.btn-increment {
  border-left: none;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.head-split {
  font-weight: 500;
}
.stripe-button-el
{
  background: #041151 !important;
  background-image: none !important;
}
.stripe-button-el span
{
  background: #041151 !important;
  background-image: none !important;
}
