@{
    ViewData["Title"] = "Welkom";
}
@model HomeViewModel

@if (Model.StripeComplete && Model.AccountComplete)
{
    <div class="col-md-4 justify-content-center">
        <h1 class="display-4">Voordat u begint!</h1>
        <ol>
          <li class="mb-2">Om klanten de mogelijkheid te geven om snel en gemakkelijk de vouchers te kopen, moet er
              een website-widget zichtbaar worden. Onder “ Widget installeren ” in de menu-balk staat
              beschreven hoe u dit kunt installeren.</li>
          <li class="mb-2">Nadat de widget is geïnstalleerd, moet u eerst een categorie aanmaken. (Zonder categorie kunt
              u geen vouchers toevoegen.) Onder 'Categorieën' in de menu-balk kunt u categorieën toevoegen.</li>
          <li class="mb-2">Vervolgens voegt u onder 'Mijn vouchers' in de menu-balk de gewenste vouchers toe. ( Een
              prepaid-voucher mag in meerdere malen besteed worden door de klant indien een positief saldo.
              En een waardebon-voucher moet in een keer besteed worden. )</li>
          <li class="mb-2">Bekijk uw toegevoegde vouchers onder “ Mijn Vouchers ” in de menu-balk, of bekijk uw
              vouchers visueel door op “ Voucher-pagina bekijken “ in de menu-balk te klikken.</li>
          <li class="mb-2">De bedrijfstekst & bedrijfsgegevens ( niet bedrijfsnaam ) die weergeven worden op de voucher-
              pagina zijn aanpasbaar onder “ Account “ in de menu-balk.</li>
          <li class="mb-2">Wanneer een voucher wordt gekocht, zal er een e-mail worden toegestuurd naar de klant. De e-
              mail bevat per gekochte voucher een unieke barcode. Deze barcode is bedrijfsgebonden en zal
              alleen verzilverd kunnen worden door u. Verzilver de voucher door de unieke voucher-code in te
              voeren, of de unieke barcode te scannen, onder “ Verkochte vouchers ” in de menu-balk.</li>
          <li class="mb-2">Voor hulp stuur een e-mail naar info@findey.co of Whatsapp naar +31 6 52632019</li>
          <li class="mb-2">Indien u nog geen verificatie bij Stripe heeft gedaan, zal u een bericht krijgen om dit
              vooralsnog te doen. Dit is noodzakelijk om de betalingen van klanten te mogen ontvangen.</li>
        </ol>
    </div>
}
else if (!Model.AccountComplete)
{
    <div class="text-center">
        <h1 class="display-4">Voordat u begint</h1>
        <a asp-area="" asp-controller="Home" asp-action="OnBoarding">
            Start onboarding
        </a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Bijna klaar!</h1>
        <p>We zijn er bijna! Het laatste wat nog moet gebeuren is het opgeven van uw gegevens bij onze payment provider.</p>
        <p>Wij hebben geprobeerd om zoveel mogelijk gegevens voor u in te vullen!</p>
        <div class="sr-main">
            <a href="@Model.StripeUrl">
                Rond af!
            </a>
        </div>

    </div>
}