@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Ik zie dat het je eerste keer is op dit platform</p>
    <p>Wij hebben daarom wat gegevens van jou nodig voordat jij producten kan gaan aanbieden!</p>
</div>
