.mci-footer:before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: solid dimgray 1px !important;
}

.mci-footer{
    height: 120px;
    width: 100vw;
    margin: auto;
    padding: 0; 
    background-color: #E5E5E5;
    color: #333333;
    border: 30px solid gainsboro !important;
}

.mci-left-border{
    border-left: 2px #333333 solid;
}