@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-color-header d-flex justify-content-center">
    <div class="col-md-8 text-center">
        <div class="text-uppercase mb-4"><small>Overzicht</small></div>
        <h2>Restaurant naam</h2>
        <p>straat woonplaats postcode</p>
        <p>
            Door de corona-maatregelen mist óók deze onderneming belangrijke inkomsten. Hierdoor is het betalen van de huur, het personeel en andere kosten zeer lastig geworden.
            Profiteer van korting en ondersteun {naam} door een waardebon met korting te verschaffen!
        </p>
    </div>
</div>
</div>
