@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="col-lg home-color-header">
    One of three columns
</div>

<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" />