@page
@model ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/account.css"/>
    <title>Wachtwoord vergeten</title>
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row">
            <div
                class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-6 col-xl-6 background">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 content">
                <div id="formbox">
                    <div class="headline">
                        <h2>
                            Wachtwoord vergeten
                        </h2>
                        <p>Voer uw email adres in om uw wachtwoord te resetten!</p>
                    </div>
                    <div class="input-fields">
                        <form method="post">
                            <input asp-for="Input.Email" placeholder="Email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <div class="extra-form-elements">
                                <div class="center-element">
                                    <button type="submit">Verzend</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="copyright">
                        <span>&copy; 2020 - Findey Vouchers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Bootstrap Includes-->
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}