@page
@model ForgotPasswordModel
<link rel="stylesheet" href="~/css/account.css"/>
<div class="container-fluid">
    <div class="row">
        <div
            class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-6 col-xl-6 background">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 content">
            <div id="formbox">
                <div class="headline">
                    <h2>
                        Wachtwoord vergeten
                    </h2>
                    <p>Voer uw email adres in om uw wachtwoord te resetten!</p>
                </div>
                <div class="input-fields">
                    <form action="">
                        <input asp-for="Input.Email" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="extra-form-elements">
                            <div class="center-element">
                                <button>Verzend</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="copyright">
                    <span>&copy; 2020 - Findey Vouchers</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}