@page
@model LoginModel
<link rel="stylesheet" href="~/css/account.css"/>
@{
    ViewData["Title"] = "Welkom bij Findey Vouchers!";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div
            class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-6 col-xl-6 background">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 content">
            <div class="form-box">
                <div class="headline">
                    <h2>
                        Welkom<br/>
                        bij Findey Vouchers!
                    </h2>
                    <p>Log in om te beginnen!</p>
                </div>
                <div class="input-fields">
                    <form id="specialform" action="">
                        <input asp-for="Input.Email" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <input asp-for="Input.Password" placeholder="Wachtwoord"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="extra-form-elements">
                            <div class="left-element">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input asp-for="Input.RememberMe" class="custom-control-input" id="rememberMe"/>
                                    <label class="custom-control-label" for="rememberMe">
                                        Onthoud mij
                                    </label
                                    >
                                </div>
                            </div>
                            <div class="right-element">
                                <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="extra-form-elements">
                            <div class="left-element">
                                <button type="submit">Log in</button>
                            </div>
                            <div class="right-element">
                                <button>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registreer</a>
                                </button>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <div class="copyright">
                    <span>&copy; 2020 - Findey Vouchers</span>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <section> *@
@*             <form id="account" method="post"> *@
@*                 <h4>Log in om te beginnen!</h4> *@
@*                 <hr/> *@
@*                 <div asp-validation-summary="All" class="text-danger"></div> *@
@*                 <div class="form-group"> *@
@*                     <label asp-for="Input.Email"></label> *@
@*                     <input asp-for="Input.Email" class="form-control"/> *@
@*                     <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     Wachtwoord *@
@* <input asp-for="Input.Password" class="form-control"/> *@
@* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <div class="checkbox"> *@
@*                         <label asp-for="Input.RememberMe"> *@
@*                             <input asp-for="Input.RememberMe"/> *@
@*                             Onthoud mij *@
@*                         </label> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <button type="submit" class="btn btn-primary">Log in</button> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <p> *@
@*                         <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a> *@
@*                     </p> *@
@*                     <p> *@
@*                         <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registreer</a> *@
@*                     </p> *@
@*                     <p> *@
@*                         <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Verzend verificatie email opnieuw</a> *@
@*                     </p> *@
@*                 </div> *@
@*             </form> *@
@*         </section> *@
@*     </div> *@
@* </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}