@page
@model RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/account.css"/>
    <title>Registreer</title>
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row">
            <div
                class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-6 col-xl-6 background">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 content">
                <div class="form-box">
                    <div class="headline">
                        <h2>
                            Registreer
                        </h2>
                        <p>Maak een nieuw account.</p>
                    </div>
                    <div class="input-fields">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <input asp-for="Input.Email" placeholder="email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <input asp-for="Input.Password" placeholder="Wachtwoord"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <input asp-for="Input.ConfirmPassword" placeholder="Bevestig wachtwoord"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            <div class="extra-form-elements">
                                <div class="left-element">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="checkboxRequired"/>
                                        <label class="custom-control-label" for="checkboxRequired">
                                            I agree with the terms and conditions
                                        </label
                                        >
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="extra-form-elements">
                                <div class="center-element">
                                    <button type="submit" id="submit">Registreer</button>
                                </div>
                            </div>
                            <div class="extra-form-elements">
                                <div class="center-element">
                                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Heeft u al een account? Log in.</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="copyright">
                        <span>&copy; 2020 - Findey Vouchers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
<!--Bootstrap Includes-->
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
