@{
    ViewData["Title"] = "Welkom";
}
@model HomeViewModel
<div class="col-md-6">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wordpress
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="font-weight-bold mb-4">
                        Als je van Wordpress gebruik maakt kan je een plugin installeren en activeren voor de speciale button. Volg de stappen hieronder om via Wordpress de button te installeren.
                    </div>
                    <ol>
                        <li class="mb-2">Log in op je Wordpress-account.</li>
                        <li class="mb-2">Installeer de plugin ‘Floating Chat Widget‘ en activeer die vervolgens.</li>
                        <li class="mb-2">Als je niet direct genavigeerd wordt naar het Chaty dashboard, klik dan op Chaty in de Wordpress menu-balk.</li>
                        <li class="mb-2">Verwijder als eerste alle bestaande buttons door op de bijbehorende kruisjes te klikken.</li>
                        <li class="mb-2">Kies bij Stap 1 voor de Customer Link.</li>
                        <li class="mb-2">Vul vervolgens bij de URL deze regel in: 'https://{vul-hier-je-opgegeven-FindeyVouchersbedrijfsnaam-in}.findey.nl'. (Of klik op ‘Bekijk voucher-pagina’ in het Findey Voucher CMS en kopieer de URL van de nieuwe geopende pagina.)</li>
                        <li class="mb-2">Zorg dat zowel Desktop als Mobile zijn aangevinkt.</li>
                        <li class="mb-2">De kleur van de button is aan te passen door het tandwieltje.</li>
                        <li class="mb-2">Verder kan je de button aanpassen naar wens.</li>
                        <li class="mb-2">Als je klaar bent zorg dan voor ‘Active’ op ‘On’ staat en klik op SAVE CHANGES.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Handmatig
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="font-weight-bold mb-4">
                        Als je handmatig de speciale button wilt toevoegen zul je deze zelf moeten instellen en positioneren op je website. Volg de stappen hieronder om handmatig de button te installeren.
                    </div>

                    <ol>
                        <li class="mb-2">Onder deze tekst vind je twee gedeeltes met code: html-code & css-code. Deze worden geplaatst op je website.</li>
                        <li class="mb-2">2. Kopieer als eerste alle css-code.</li>
                        <li class="mb-2">Ga volgens naar je website-bouwer en zoek een mogelijkheid om css-code te kunnen toevoegen. Plak de code en druk vervolgens op publiceer.</li>
                        <li class="mb-2">Als dat is gebeurd vervang dan in het html-code de ‘https://companyname.findey.nl' met ‘https://{vul-hier-jouw-opgegeven-bedrijfsnaam-in}.findey.nl' en kopieer alle html-code.</li>
                        <li class="mb-2">Ga weer terug naar je website-bouwen en open de Editor.</li>
                        <li class="mb-2">Voeg een mogelijkheid aan je website toe om custom html-code toe te voegen.</li>
                        <li class="mb-2">Voeg de gekopieerde html-code hieraan toe en publiceer de website met de nieuwe htmlcode.</li>
                        <li class="mb-2">Wanneer je de website in een nieuw tabblad opent zie je de nieuwe button verschijnen. Als je vervolgens op de button klikt zal een nieuw tabblad geopend worden naar jouw voucherpagina.
                        </li>
                    </ol>

                    <div class="font-weight-bold mb-4">
                        Zie je geen button of geen juist geopend tabblad?
                    </div>

                    <div class="mb-4">
                        <p>
                            Als je geen button ziet verschijnen op je website probeer dan een andere manier om custom htmlcode aan je website toe te voegen. Kijk bijvoorbeeld of je website-bouwer de mogelijkheid heeft om per pagina custom html-code toe te voegen.
                        </p>
                        <p>
                            Als je de button wel ziet maar niet het juiste tabblad opent, controleer dan of je wel de juiste url hebt getypt voordat je de html-code kopieerde.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Development agency / freelancer
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Als je werkt met een development agency of freelancer vraag dan of zij een ‘Floating Action Button’ op je website willen plaatsen die herleidt naar de wildcard ‘https://{vul-hier-jeopgegeven- bedrijfsnaam-in}.findey.nl' op een extern tabblad.
                </div>
            </div>
        </div>
    </div>
</div>